
@import '../../../styles/assets.scss';

.app {
  padding: 0 130px 0 460px;
  position: relative;
  overflow-y: scroll;
  -x-size: 100%;

  .original-theme & {
    background: $original-app-background-color;
  }
  
  .light-theme & {
    background: $light-app-background-color;
  }
  
  .dark-theme & {
    background: $dark-app-background-color;
  }
}
