
@import '../../../styles/assets.scss';

.form-container {
  -x-size: 100%;

  .form {
    color: $dark-color;

    &-title {
      font: bold 32px/40px Montserrat, sans-serif;
      margin-bottom: 32px;
    }

    &-social {
      background: #F1F1F1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 32px -32px;
      padding: 0 32px;
      -x-size: calc(100% + 64px) 60px;
      -x-font-size: 13px/20px;

      &-icons {
        display: flex;
      }
    }

    &-inputs {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;
    }

    &-button {
      background: $button-form-background;
      border-radius: 4px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      height: 44px;
    }

    &-message {
      text-align: center;
    }

    &-link {
      color: $link-color;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &-button, &-message {
      -x-font-size: 16px/24px;
    }
  }
}
