
@import '../../styles/assets.scss';

.form-container {
  -x-size: 100%;

  .form {
    color: $dark-color;

    &-title {
      font: bold 32px/40px Montserrat, sans-serif;
      margin-bottom: 32px;
    }

    &-error {
      background: #f1f1f1;
      color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 32px -32px;
      padding: 0 32px;
      transition: .2s;
      -x-size: calc(100% + 64px) 1px;
      -x-font-size: 18px/24px;
    }

    &-inputs {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;
    }

    &-button {
      background: $button-form-background;
      border-radius: 4px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      height: 44px;
      transition: .2s;

      &:hover {
        background: #5835B0;
      }

      &:active {
        background: #472C8A;
      }
    }

    &-message {
      text-align: center;
    }

    &-link {
      color: $link-color;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &-button, &-message {
      -x-font-size: 16px/24px;
    }
  }

  &.is-error {
    .form-error {
      color: #DB524E;
      height: 60px;
    }
  }
}
