
@import '../../../styles/assets.scss';

.input {
  background: #fff;
  border-radius: 4px;
  height: 56px;
  transition: .2s;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &-placeholder {
    color: rgba($dark-color, .48);
    transition: .2s;
    transform: translateY(-50%);
    -x-position: absolute 50% x x 16px;
  }

  &-field {
    background: transparent;
    color: $dark-color;
    font-family: inherit;
    padding: 16px 0 0 16px;
    position: relative;
    -x-size: 100%;
  }

  &-error {
    color: #DB524E;
    opacity: 0;
    transition: .2s;
    -x-position: absolute x x 0 0;
  }

  &-icon {
    opacity: .6;
    transition: .2s;
    transform: translateY(-50%);
    z-index: 1;
    -x-size: 24px;
    -x-position: absolute 50% 12px x x;

    &:hover, &.is-active {
      opacity: 1;
    }
  }

  &-placeholder, &-field {
    -x-font-size: 16px/24px;
  }

  &.is-active {
    .input {
      &-placeholder {
        transform: none;
        top: 6px;
        -x-font-size: 13px/20px;
      }

      &-field {
        z-index: 1;
      }
    }
  }

  &.is-error {
    background: #F9E3E3;
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 20px;
    }

    .input {
      &-error {
        bottom: -25px;
        opacity: 1;
      }
    }
  }
}
