@import '../../styles/assets.scss';
@import '../../styles/classes.scss';

.auth {
  background: $auth-background;
  padding: 20px 64px;
  -x-size: 100%;

  @media screen and (max-width: 768px) {
    padding: 20px 24px;
  }

  &-content {
    position: relative;
    z-index: 9;
    -x-size: 100%;
  }

  &-header {
    color: #fff;
    display: flex;
    align-items: center;
    font: bold 24px/32px Montserrat, sans-serif;
    transition: .4s;

    .is-login-mode & {
      color: $dark-color;
    }
  }

  &-logo {
    margin-right: 10px;
    -x-size: 36px;
  }

  &-form {
    background: #fff;
    border-radius: 8px;
    padding: 32px;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 480px;
    transition: .2s;
    -x-position: absolute 50% x x 50%;

    @media screen and (max-width: 530px) {
      width: 100%;
      padding: 16px;
    }
  }

  &-decoration {
    background: $decoration-background;
    transform: rotate(-22.6deg) translate(20%, -50%);
    transition: .4s;
    -x-position: absolute 36px x x -406px;
    -x-size: 1751px 768px;

    .is-login-mode & {
      top: 120%;
      transform: rotate(-22.6deg) translate(30%, -50%);
    }
  }
}
