/** auth */
$auth-background: #FAFAFA;
$decoration-background: #183055;
$button-form-background: #6E41E2;
$dark-color: #111;
$link-color: #6E41E2;

/** original theme */
$original-app-background-color: #183055;
$original-sidebar-icon-color: #fff;

$original-menu-line-background: #596D8B;
$original-menu-item-color: #9DAAB6;
$original-menu-item-color-hover: #fff;
$original-menu-item-background-color-hover: #2F4566;
$original-menu-item-color-active: #fff;

$homepage-section-title-color: #fff;

/** light theme */
$light-app-background-color: #FAFAFA;

/** dark theme */
$dark-app-background-color: #222222;
