/** auth */
$auth-background: #FAFAFA;
$decoration-background: #183055;
$button-form-background: #6E41E2;
$dark-color: #111;
$link-color: #6E41E2;

/** original theme */
$original-app-background-color: #183055;

/** light theme */
$light-app-background-color: #FAFAFA;

/** dark theme */
$dark-app-background-color: #222222;
