/** auth */
$auth-background: #FAFAFA;
$decoration-background: #183055;
$button-form-background: #6E41E2;
$dark-color: #111;
$link-color: #6E41E2;

/** original theme */
$original-app-background-color: #183055;
$original-sidebar-icon-color: #fff;

$original-avatar-color: #fff;
$original-avatar-border-color: #183055;
$original-avatar-background-color: #596D8B;

$original-menu-username-color: #fff;
$original-menu-line-background: #596D8B;
$original-menu-item-color: #9DAAB6;
$original-menu-item-color-hover: #fff;
$original-menu-item-background-color-hover: #2F4566;
$original-menu-item-color-active: #fff;

$original-homepage-section-title-color: #fff;

$original-settings-section-background-color: #2F4566;
$original-settings-section-line-color: #183055;

$original-button-color: #fff;
$original-button-background-color: #3884FF;
$original-button-background-color-hover: #1F65D6;

/** light theme */
$light-app-background-color: #FAFAFA;

/** dark theme */
$dark-app-background-color: #222222;
