
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

@import './assets.scss';

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#root {
  -x-size: 100%;
}

@import './classes.scss';
