@import '../../../styles/assets.scss';

.avatar {
  background: {
    repeat: no-repeat;
    position: center;
  };
  border: 2px solid #fff;
  -x-size: 46px;

  .original-theme & {
    background-color: $original-avatar-background-color;
    border-color: $original-avatar-border-color;
  }
}
