@import '../../assets/styles/assets.scss';

.app {
  overflow-y: scroll;
  position: relative;
  -x-size: 100%;

  .original-theme & {
    background: $original-app-background-color;
  }
  
  .light-theme & {
    background: $light-app-background-color;
  }
  
  .dark-theme & {
    background: $dark-app-background-color;
  }

  &-header {
    display: none;
    z-index: 2;
    -x-size: 100% 64px;
    -x-position: sticky 0 x x 0;

    @media screen and (max-width: 767px) {
      display: block;
    }

    .original-theme & {
      background: $original-app-background-color;
    }
    
    .light-theme & {
      background: $light-app-background-color;
    }
    
    .dark-theme & {
      background: $dark-app-background-color;
    }
  }

  &-homepage {
    display: flex;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 130px;
    position: relative;
    height: 100%;

    @media screen and (max-width: 1366px) {
      padding: 0 130px 0 434px;
      display: block;
    }

    @media screen and (max-width: 1124px) {
      padding: 0 115px 0 419px;
    }

    @media screen and (max-width: 1023px) {
      padding: 0 130px;
    }

    @media screen and (max-width: 767px) {
      padding: 0 18px;
      height: calc(100% - 64px);
    }
  }

  &-menu {
    flex-shrink: 0;
    margin-right: 80px;
    width: 224px;

    @media screen and (max-width: 1366px) {
      display: none;
    }
  }

  &.is-space-page-open {
    overflow: hidden;

    .app {
      &-header, &-menu {
        display: none;
      }

      &-homepage {
        display: flex;
        padding: 0 0 0 72px;
        width: 100%;
        max-width: none;
      }
    }
  }
}
