@import '../../assets/styles/assets.scss';

.auth-form {
  -x-size: 100%;

  &-title {
    font: bold 32px/40px 'Montserrat', sans-serif;
    margin-bottom: 32px;

    @media screen and (max-width: 530px) {
      font-size: 28px;
      margin-bottom: 16px;
    }
  }

  &-error {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 32px -32px;
    padding: 0 32px;
    transition: .2s;
    -x-size: calc(100% + 64px) 1px;
    -x-font-size: 18px/24px;

    @media screen and (max-width: 530px) {
      width: calc(100% + 32px);
      margin: 0 0 16px -16px;
    }

    .original-theme & {
      background: $original-auth-form-error-background-color;
      color: $original-auth-form-error-color;
    }
  
    .light-theme & {
      background: $light-auth-form-error-background-color;
      color: $light-auth-form-error-color;
    }
  
    .dark-theme & {
      background: $dark-auth-form-error-background-color;
      color: $dark-auth-form-error-color;
    }

    .is-error & {
      height: 60px;
    }
  }

  &-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }

  &-link {
    cursor: pointer;
    text-align: center;
    -x-font-size: 16px/24px;

    &:hover {
      text-decoration: underline;
    }

    .original-theme & {
      color: $original-auth-form-link-color;
    }
  
    .light-theme & {
      color: $light-auth-form-link-color;

      &:hover {
        color: $light-auth-form-link-hover-color;
      }
    }
  
    .dark-theme & {
      color: $dark-auth-form-link-color;
    }
  }

  .button {
    font-size: 16px;
    height: 44px;
    margin-bottom: 12px;
  }
}
