@import '../../assets/styles/assets.scss';

.auth {
  padding: 20px 64px;
  position: relative;
  -x-size: 100%;

  @media screen and (max-width: 767px) {
    padding: 20px 16px;
  }

  .original-theme & {
    background: $original-auth-background-color;
    color: $original-auth-color;
  }

  .light-theme & {
    background: $light-auth-background-color;
    color: $light-auth-color;
  }

  .dark-theme & {
    background: $dark-auth-background-color;
    color: $dark-auth-color;
  }

  &-content {
    position: relative;
    z-index: 9;
    -x-size: 100%;
  }

  &-header {
    display: flex;
    align-items: center;
    font: bold 24px/32px Montserrat, sans-serif;
    transition: .4s;
  }

  &-logo {
    margin-right: 10px;
  }

  &-form-container {
    border-radius: 8px;
    padding: 32px;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 420px;
    transition: .2s;
    -x-position: absolute 50% x x 50%;

    @media screen and (max-width: 450px) {
      width: 100%;
      padding: 16px;
    }

    .original-theme & {
      background: $original-auth-form-container-background-color;
    }
  
    .light-theme & {
      background: $light-auth-form-container-background-color;
    }
  
    .dark-theme & {
      background: $dark-auth-form-container-background-color;
    }
  }

  &-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    -x-size: 100% 72px;
    -x-position: absolute x x 0 0;

    .action-icon:not(:last-child) {
      margin: 0 42px 0 0;
    }

    .dropdown {
      bottom: 120%;

      &-arrow {
        left: calc(50% - 5px);
        bottom: -5px;
      }
    }
  }
}
