@import '../../assets/styles/assets.scss';

.avatar {
  background: {
    color: var(--avatar-background-color);
    repeat: no-repeat;
    position: center;
    size: cover;
  };
  border: 2px solid var(--avatar-border-color);
  border-radius: 50%;
  color: var(--avatar-color);

  .light-theme & {
    background-color: $light-avatar-background-color;
    border-color: $light-avatar-border-color;
    color: $light-avatar-color;
  }
  
  .dark-theme & {
    background-color: $dark-avatar-background-color;
    border-color: $dark-avatar-border-color;
    color: $dark-avatar-color;
  }
}
