@import '../../assets/styles/assets.scss';

.dropdown {
  animation: show-dropdown .2s;
  border-radius: 4px;
  padding: 8px 0;
  position: absolute;
  transition: .2s;
  width: 180px;

  &-arrow {
    position: absolute;
    transform: rotate(45deg);
    z-index: -1;
    -x-size: 12px;
  }

  &, &-arrow {
    .original-theme & {
      background: $original-dropdown-background-color;
    }
  
    .light-theme & {
      background: $light-dropdown-background-color;
    }
  
    .dark-theme & {
      background: $dark-dropdown-background-color;
    }
  }

  &.dropdown-space-logo {
    margin: -10px 0 24px;
    padding: 8px;
    position: relative;
    -x-size: 100% 240px;

    .dropdown-space-logo-items {
      display: grid;
      gap: 4px;
      grid-template-columns: repeat(6, 1fr);
      align-items: center;
      justify-items: center;
      overflow-x: hidden;
      overflow-y: scroll;
      -x-size: 100%;
    }

    .dropdown-arrow {
      top: -6px;
      left: 23px;
    }
  }
}

@keyframes show-dropdown {
  from {
    opacity: 0;
    top: 40%;
  }
}
