@import '../../assets/styles/assets.scss';

.popup {
  background: rgba(17, 17, 17, 0.5);
  z-index: 9999;
  padding: 16px;
  overflow: hidden;
  -x-size: 100%;
  -x-position: fixed 0 x x 0;
  
  &-container {
    animation: show-popup .2s;
    background: var(--popup-background-color);
    border-radius: 4px;
    max-width: 480px;
    transform: translateX(-50%);
    -x-position: absolute 80px x x 50%;

    @media screen and (max-width: 520px) {
      width: calc(100% - 32px);
      min-width: 0;
    }
    
    .dark-theme & {
      background: $dark-popup-background-color;
    }
  }

  &-header {
    border-bottom: 1px solid var(--popup-header-border-color);
    color: var(--popup-title-color);
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    padding: 0 24px;
    height: 80px;

    @media screen and (max-width: 520px) {
      padding: 0 16px;
    }
    
    .dark-theme & {
      border-bottom-color: $dark-popup-header-border-color;
      color: $dark-popup-title-color;
    }
  }

  &-scroll {
    overflow-y: scroll;
    max-height: 70vh;
  }

  &-body {
    padding: 32px 24px 8px;

    @media screen and (max-width: 520px) {
      padding: 32px 16px 8px;
    }
  }

  &-message {
    color: var(--popup-body-text-color);
    text-align: center;
    margin-bottom: 24px;
    -x-font-size: 18px/24px;
    
    .dark-theme & {
      color: $dark-popup-body-text-color;
    }
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    padding: 24px;

    @media screen and (max-width: 520px) {
      padding: 24px 16px;
    }

    .button {
      height: 40px;

      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }
}

@keyframes show-popup {
  from {
    opacity: 0;
    top: 60px;
  }
}
