@import '../../assets/styles/assets.scss';

.select-theme {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;

  &-view {
    background: {
      repeat: no-repeat;
      size: cover;
      position: center;
    };
    margin-bottom: 16px;
    -x-size: 180px 126px;
  }
}
