@import '../../assets/styles/assets.scss';

.settings-avatar {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  &-container {
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    transition: .2s;
    width: 126px;

    @media screen and (max-width: 767px) {
      margin: 0 0 16px 0;
      width: 100%;
    }
  }

  &-image {
    background: var(--settings-avatar-container-background-color);
    margin-bottom: 6px;
    -x-size: 100% 126px;

    .light-theme & {
      background: $light-settings-avatar-container-background-color;
    }
    
    .dark-theme & {
      background: $dark-settings-avatar-container-background-color;
    }

    .avatar {
      font-size: 24px;
    }
  }

  &-drop {
    border: 1px solid var(--settings-avatar-drop-border-color);
    color: var(--settings-avatar-drop-color);
    text-align: center;
    flex-grow: 1;
    height: 126px;
    transition: .2s;
    -x-font-size: 13px/17px;

    .light-theme & {
      border-color: $light-settings-avatar-drop-border-color;
      color: $light-settings-avatar-drop-color;
    }
    
    .dark-theme & {
      border-color: $dark-settings-avatar-drop-border-color;
      color: $dark-settings-avatar-drop-color;
    }
  }

  &-loaded-file, &-drop {
    flex-direction: column;
  }

  &-drop-message, &-filename {
    margin-bottom: 12px;
  }

  &-filename {
    color: var(--settings-avatar-filename-color);
    font-weight: 500;
    -x-font-size: 16px/24px;

    .light-theme & {
      color: $light-settings-avatar-filename-color;
    }
    
    .dark-theme & {
      color: $dark-settings-avatar-filename-color;
    }
  }

  &-link {
    color: var(--settings-avatar-link-color);
    cursor: pointer;
    margin-left: 3px;

    &:hover {
      text-decoration: underline;
    }

    .light-theme & {
      color: $light-settings-avatar-link-color;
    }
    
    .dark-theme & {
      color: $dark-settings-avatar-link-color;
    }
  }

  &-error {
    color: var(--input-error-color);
    font-size: 15px;

    .light-theme & {
      color: $light-input-error-color;
    }
    
    .dark-theme & {
      color: $dark-input-error-color;
    }
  }

  &-image, &-drop {
    border-radius: 3px;
  }

  input {
    display: none;
  }

  &.is-drop-active {
    .settings-avatar-drop {
      background: var(--settings-avatar-drop-active-backgroun-color);
  
      .light-theme & {
        background: $light-settings-avatar-drop-active-backgroun-color;
      }
      
      .dark-theme & {
        background: $dark-settings-avatar-drop-active-backgroun-color;
      }
    }
  }
}
