@import '../../assets/styles/assets.scss';

.settings-group {

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &-title {
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 8px;
    -x-font-size: 12px/17px;

    .original-theme & {
      color: $original-settings-group-title-color;
    }

    .light-theme & {
      color: $light-settings-group-title-color;
    }
    
    .dark-theme & {
      color: $dark-settings-group-title-color;
    }
  }
}
