@import '../../assets/styles/assets.scss';

.settings-section {
  border-radius: 4px;
  margin-bottom: 24px;
  padding: 18px 24px 24px;
  width: 100%;
  position: relative;

  @media screen and (max-width: 489px) {
    padding: 18px;
  }

  .original-theme & {
    background: $original-settings-section-background-color;
  }

  .light-theme & {
    background: $light-settings-section-background-color;
    box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04), 0 4px 16px rgba(51, 51, 51, 0.08);
  }
  
  .dark-theme & {
    background: $dark-settings-section-background-color;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  &-title {
    font-weight: 500;
    font-size: 18px;

    .original-theme & {
      color: $original-settings-section-title-color;
    }

    .light-theme & {
      color: $light-settings-section-title-color;
    }
    
    .dark-theme & {
      color: $dark-settings-section-title-color;
    }
  }

  &-content {
    padding-top: 24px;
    transition: .4s;
    
    .original-theme & {
      border-top: 1px solid $original-settings-section-line-color;
    }

    .light-theme & {
      border-top: 1px solid $light-settings-section-line-color;
    }
    
    .dark-theme & {
      border-top: 1px solid $dark-settings-section-line-color;
    }
  }

  &-message {
    margin-bottom: 24px;
    -x-font-size: 14px/20px;

    .original-theme & {
      color: $original-settings-section-message-color;
    }

    .light-theme & {
      color: $light-settings-section-message-color;
    }
    
    .dark-theme & {
      color: $dark-settings-section-message-color;
    }
  }

  &.is-disable {
    &::after {
      background: rgba($color: #fff, $alpha: .1);
      border-radius: 4px;
      content: '';
      display: block;
      z-index: 1;
      -x-position: absolute 0 0 0 0;
    }
  }

  &.settings-section-close {
    padding: 24px;

    &:hover {
      .original-theme & {
        background: $original-settings-section-close-hover-background-color;
      }

      .dark-theme & {
        background: $dark-settings-section-close-hover-background-color;
      }
    }
  }
}
