@import '../../assets/styles/assets.scss';

.settings-action {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &.select-type {
    border-radius: 6px;
    padding: 12px;
    transition: .2s;

    &:hover {
      .original-theme & {
        background: $original-settings-action-hover-background-color;
      }
  
      .light-theme & {
        background: $light-settings-action-hover-background-color;
      }
      
      .dark-theme & {
        background: $dark-settings-action-hover-background-color;
      }
    }

    &.is-selected {
      .original-theme & {
        background: $original-settings-action-selected-background-color;
      }
  
      .light-theme & {
        background: $light-settings-action-selected-background-color;
      }
      
      .dark-theme & {
        background: $dark-settings-action-selected-background-color;
      }
    }
  }

  @media screen and (max-width: 489px) {
    display: block;
  }

  &-content {
    padding-right: 24px;

    @media screen and (max-width: 489px) {
      width: 100%;
      padding-right: 0;
      margin-bottom: 24px;
    }
  }

  &-title {
    font-weight: 500;
    margin-bottom: 8px;
    -x-font-size: 16px/24px;

    .select-type & {
      margin-bottom: 0;
    }

    .original-theme & {
      color: $original-settings-action-title-color;
    }

    .light-theme & {
      color: $light-settings-action-title-color;
    }
    
    .dark-theme & {
      color: $dark-settings-action-title-color;
    }
  }

  &-description {
    -x-font-size: 14px/20px;

    .original-theme & {
      color: $original-settings-action-description-color;
    }

    .light-theme & {
      color: $light-settings-action-description-color;
    }
    
    .dark-theme & {
      color: $dark-settings-action-description-color;
    }
  }

  .button {
    flex-shrink: 0;
  }
}
