@import '../../assets/styles/assets.scss';

.spaces {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: 1270px) and (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);    
  }

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);    
  }

  @media screen and (max-width: 599px) {
    grid-template-columns: 1fr;
    padding: 0 20%;
  }

  @media screen and (max-width: 489px) {
    padding: 0 10%;
  }

  @media screen and (max-width: 389px) {
    padding: 0;
  }

  &-message {
    text-align: center;
    -x-font-size: 14px/28px;

    .original-theme & {
      color: $original-spaces-message-color;
    }

    .light-theme & {
      color: $light-spaces-message-color;
    }

    .dark-theme & {
      color: $dark-spaces-message-color;
    }

    &-label {
      border-radius: 3px;
      margin: 0 4px;
      padding: 3px 5px;
      white-space: nowrap;

      .original-theme & {
        background: $original-spaces-message-label-background-color;
      }

      .light-theme & {
        background: $light-spaces-message-label-background-color;
      }

      .dark-theme & {
        background: $dark-spaces-message-label-background-color;
      }
    }
  }
}
