@import '../../assets/styles/assets.scss';

.space-color {
  border-radius: 3px;
  flex-shrink: 0;
  -x-size: 30px;

  &-icon {
    color: #fff;
    display: none;
  }

  &.is-active .space-color-icon {
    display: block;
  }
}
