@import '../../assets/styles/assets.scss';

.space {
  border-radius: 3px;
  padding: 16px;
  transition: .2s;
  user-select: none;
  width: 100%;

  &:hover .space-icon {
    opacity: .6;
  }

  .original-theme & {
    background: $original-space-background-color;

    &:hover {
      background: $original-space-hover-background-color;
    }
  }

  .light-theme & {
    background: $light-space-background-color;
  }

  .dark-theme & {
    background: $dark-space-background-color;

    &:hover {
      background: $dark-space-hover-background-color;
    }
  }

  &-header {
    display: flex;
    align-items: center;
  }

  &-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -x-font-size: 16px/32px;

    .original-theme & {
      color: $original-space-title-color;
    }
  
    .light-theme & {
      color: $light-space-title-color;
    }
  
    .dark-theme & {
      color: $dark-space-title-color;
    }
  }

  &-line {
    margin: 16px 0;
    -x-size: 100% 1px;

    .original-theme & {
      background: $original-space-line-background-color;
    }
  
    .light-theme & {
      background: $light-space-line-background-color;
    }
  
    .dark-theme & {
      background: $dark-space-line-background-color;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-date {
    font-size: 12px;
    font-weight: 300;
    display: flex;
    align-items: center;
    opacity: .8;

    .original-theme & {
      color: $original-space-icon-color;
    }
  
    .light-theme & {
      color: $light-space-icon-color;
    }
  
    .dark-theme & {
      color: $dark-space-icon-color;
    }

    &-icon {
      margin-right: 4px;
    }
  }

  &-icon {
    transition: .2s;
    opacity: .4;
    z-index: 1;
    -x-size: 24px;

    .original-theme & {
      color: $original-space-icon-color;
    }
  
    .light-theme & {
      color: $light-space-icon-color;
    }
  
    .dark-theme & {
      color: $dark-space-icon-color;
    }

    &:hover, &.is-active {
      opacity: 1 !important;
    }

    .dropdown {
      top: 120%;
      right: -10px;

      &-arrow {
        top: -5px;
        right: 16px;
      }
    }
  }
}
