@import '../../assets/styles/assets.scss';

.spaces {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, calc(33% - 8px));

  @media screen and (max-width: 1270px) and (min-width: 1024px) {
    grid-template-columns: repeat(2, calc(50% - 8px));
  }

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(2, calc(50% - 8px));    
  }

  @media screen and (max-width: 599px) {
    grid-template-columns: 100%;
    padding: 0 20%;
  }

  @media screen and (max-width: 489px) {
    padding: 0 10%;
  }

  @media screen and (max-width: 389px) {
    padding: 0;
  }

  &-message {
    border: 1px solid var(--spaces-message-color);
    border-radius: 3px;
    color: var(--spaces-message-color);
    text-align: center;
    padding: 24px;
    -x-font-size: 14px/28px;

    .dark-theme & {
      border-color: $dark-spaces-message-color;
      color: $dark-spaces-message-color;
    }

    &-label {
      background: var(--spaces-message-label-background-color);
      border-radius: 3px;
      margin: 0 4px;
      padding: 3px 5px;
      white-space: nowrap;

      .dark-theme & {
        background: $dark-spaces-message-label-background-color;
      }
    }
  }
}
