@import '../../../styles/assets.scss';

.settings-avatar {
  display: flex;

  &-container {
    margin-right: 16px;
    -x-size: 126px;

    .original-theme & {
      background: $original-settings-avatar-container-background-color;
    }

    .light-theme & {
      background: $light-settings-avatar-container-background-color;
    }
    
    .dark-theme & {
      background: $dark-settings-avatar-container-background-color;
    }
  }

  &-drop {
    border: 1px solid;
    text-align: center;
    flex-grow: 1;
    height: 126px;
    -x-font-size: 12px/17px;

    @media screen and (max-width: 767px) {
      display: none;
    }

    .original-theme & {
      border-color: $original-settings-avatar-drop-border-color;
      color: $original-settings-avatar-drop-color;
    }

    .light-theme & {
      border-color: $light-settings-avatar-drop-border-color;
      color: $light-settings-avatar-drop-color;
    }
    
    .dark-theme & {
      border-color: $dark-settings-avatar-drop-border-color;
      color: $dark-settings-avatar-drop-color;
    }
  }

  &-link {
    cursor: pointer;
    margin-left: 3px;

    &:hover {
      text-decoration: underline;
    }

    .original-theme & {
      color: $original-settings-avatar-link-color;
    }

    .light-theme & {
      color: $light-settings-avatar-link-color;
    }
    
    .dark-theme & {
      color: $dark-settings-avatar-link-color;
    }
  }

  &-container, &-drop {
    border-radius: 3px;
  }
}
