@import '../../../styles/assets.scss';

.sidebar {
  justify-content: space-between;
  padding: 12px 0 24px;
  z-index: 99;
  transition: .2s;
  -x-size: 72px 100%;
  -x-position: fixed 0 x x 0;

  @media screen and (max-width: 767px) {
    left: -72px;

    .show-sidebar & {
      left: 0;
    }
  }

  &-icons {
    align-items: center;
    z-index: 99;
    position: relative;
  }

  &-line {
    margin-bottom: 8px;
    -x-size: 42px 1px;

    .original-theme & {
      background: $original-sidebar-line-background-color;
    }

    .light-theme & {
      background: $light-sidebar-line-background-color;
    }
    
    .dark-theme & {
      background: $dark-sidebar-line-background-color;
    }
  }
}
