@import '../../../assets/styles/assets.scss';

.input {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &-container {
    border-radius: 4px;
    transition: .2s;
    -x-size: 100% 56px;

    .original-theme & {
      background: $original-input-background-color;
    }

    .light-theme & {
      background: $light-input-background-color;
    }
    
    .dark-theme & {
      background: $dark-input-background-color;
    }
  }

  &-placeholder {
    transition: .2s;
    transform: translateY(-50%);
    -x-position: absolute 50% x x 16px;

    .original-theme & {
      color: $original-input-placeholder-color;
    }

    .light-theme & {
      color: $light-input-placeholder-color;
    }
    
    .dark-theme & {
      color: $dark-input-placeholder-color;
    }
  }

  &-field {
    background: transparent;
    font-family: inherit;
    padding: 16px 0 0 16px;
    position: relative;
    -x-size: 100%;

    .original-theme & {
      color: $original-input-color;
    }

    .light-theme & {
      color: $light-input-color;
    }
    
    .dark-theme & {
      color: $dark-input-color;
    }
  }

  &-error {
    opacity: 0;
    transition: .2s;
    margin: 8px 0;

    .original-theme & {
      color: $original-input-error-color;
    }

    .light-theme & {
      color: $light-input-error-color;
    }
    
    .dark-theme & {
      color: $dark-input-error-color;
    }
  }

  &-description {
    .original-theme & {
      color: $original-input-description-color;
    }

    .light-theme & {
      color: $light-input-description-color;
    }
    
    .dark-theme & {
      color: $dark-input-description-color;
    }
  }

  &-icon {
    transition: .2s;
    transform: translateY(-50%) !important;
    z-index: 1;
    -x-size: 24px;
    -x-position: absolute 50% 12px x x;

    .original-theme & {
      color: $original-input-icon-color;
      opacity: .6;
    }
  
    .light-theme & {
      color: $light-input-icon-color;
      opacity: .9;
  
      &:hover, &.is-active {
        color: $light-input-icon-active-color;
      }
    }
    
    .dark-theme & {
      color: $dark-input-icon-color;
      opacity: .6;
    }
  
    &:hover, &.is-active {
      opacity: 1;
    }
  }

  &-placeholder, &-field, &-description {
    -x-font-size: 16px/24px;

    @media screen and (max-width: 489px) {
      -x-font-size: 14px/18px;
    }
  }

  &.has-description {
    .input {
      &-container {
        margin-bottom: 10px;
      }
    }
  }

  &.is-active {
    .input {
      &-placeholder {
        transform: none;
        top: 6px;
        -x-font-size: 13px/20px;
      }

      &-field {
        z-index: 1;
      }
    }
  }

  &.is-error {
    .input {
      &-error {
        opacity: 1;
      }
    }
  }
}
