@import '../../../assets/styles/assets.scss';

.radio {
  display: flex;
  width: 100%;

  &-label {
    background: var(--radio-label-background-color);
    margin-right: 12px;
    transition: .2s;
    -x-size: 24px;

    .light-theme & {
      background: $light-radio-label-background-color;
    }
    
    .dark-theme & {
      background: $dark-radio-label-background-color;
    }

    span {
      background: var(--radio-span-background-color);
      display: none;
      -x-size: 10px;

      .light-theme & {
        background: $light-radio-span-background-color;
      }
      
      .dark-theme & {
        background: $dark-radio-span-background-color;
      }
    }
  }

  &-description {
    color: var(--radio-description-color);
    user-select: none;
    -x-font-size: 16px/24px;

    .light-theme & {
      color: $light-radio-description-color;
    }
    
    .dark-theme & {
      color: $dark-radio-description-color;
    }
  }

  &-label, &-label span {
    border-radius: 50%;
  }

  &:hover {
    .radio {
      &-label {
        background: var(--radio-label-hover-background-color);

        .light-theme & {
          background: $light-radio-label-hover-background-color;
        }
        
        .dark-theme & {
          background: $dark-radio-label-hover-background-color;
        }
      }
    }
  }

  &.is-selected {
    .radio {
      &-label {
        background: var(--radio-label-selected-background-color);

        .light-theme & {
          background: $light-radio-label-selected-background-color;
        }
        
        .dark-theme & {
          background: $dark-radio-label-selected-background-color;
        }

        span {
          display: block;
        }
      }
    }
  }
}
