@import '../../../assets/styles/assets.scss';

.select {
  margin-bottom: 24px;

  &-selected {
    background: var(--base-input-background-color);
    color: var(--base-input-color);
    border-radius: 4px;
    padding: 26px 16px 0;
    -x-font-size: 16px/24px;
    -x-size: 100% 56px;

    @media screen and (max-width: 489px) {
      -x-font-size: 14px/18px;
    }

    &:hover {
      .select-icon {
        color: var(--select-icon-color-hover);
      }
    }

    .light-theme & {
      background: $light-select-background-color;
      color: $light-select-color;
      
      &:hover {
        .select-icon {
          color: $light-select-icon-color-hover;
        }
      }
    }
    
    .dark-theme & {
      background: $dark-select-background-color;
      color: $dark-select-color;

      &:hover {
        .select-icon {
          color: $dark-select-icon-color-hover;
        }
      }
    }
  }

  &-placeholder {
    color: var(--base-input-placeholder-color);
    -x-font-size: 13px/20px;
    -x-position: absolute 6px x x 16px;

    .light-theme & {
      color: $light-select-placeholder-color;
    }
    
    .dark-theme & {
      color: $dark-select-placeholder-color;
    }
  }

  &-icon {
    color: var(--select-icon-color);
    transform: translateY(-50%) rotate(360deg) !important;
    transition: .2s;
    -x-position: absolute 50% 12px x x;

    .light-theme & {
      color: $light-select-icon-color;
    }
    
    .dark-theme & {
      color: $dark-select-icon-color;
    }
  }

  &-items {
    background: var(--base-input-background-color);
    border-radius: 4px;
    opacity: 0;
    width: 100%;
    transition: .2s;

    .light-theme & {
      background: $light-select-background-color;
    }
    
    .dark-theme & {
      background: $dark-select-background-color;
    }
  }

  &-item {
    color: var(--base-input-color);
    display: flex;
    align-items: center;
    padding-left: 16px;
    transition: .2s;
    -x-size: 100% 0;

    @media screen and (max-width: 489px) {
      -x-font-size: 14px/18px;
    }

    &:hover, &.is-selected {
      background: var(--select-item-active-background-color);
    }

    .light-theme & {
      color: $light-select-color;

      &:hover, &.is-selected {
        background: $light-select-item-active-background-color;
      }
    }
    
    .dark-theme & {
      color: $dark-select-color;

      &:hover, &.is-selected {
        background: $dark-select-item-active-background-color;
      }
    }
  }

  &.is-open {
    .select {
      &-selected {
        margin-bottom: 4px;
      }

      &-icon {
        color: var(--select-icon-color-hover);
        transform: translateY(-50%) rotate(180deg) !important;

        .light-theme & {
          color: $light-select-icon-color-hover;
        }
        
        .dark-theme & {
          color: $dark-select-icon-color-hover;
        }
      }

      &-items {
        opacity: 1;
        padding: 8px 0;
      }

      &-item {
        height: 40px;
      }
    }
  }
}
