@import '../../../styles/assets.scss';

.settings-section {
  border-radius: 4px;
  margin-bottom: 24px;
  padding: 24px;
  transition: .4s;
  width: 100%;

  .original-theme & {
    background: $original-settings-section-background-color;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    font-weight: 500;
    font-size: 18px;

    .original-theme & {
      color: $original-settings-section-title-color;
    }
  }

  &-content {
    height: 0;
    opacity: 0;
    transition: .4s;

    .original-theme & {
      border-top-color: $original-settings-section-line-color;
    }
  }

  &.is-active {
    padding-top: 18px;

    .settings-section {
      &-header {
        margin-bottom: 18px;
      }

      &-content {
        border-top: 1px solid #fff;
        padding-top: 24px;
        height: auto;
        opacity: 1;
      }
    }
  }
}
