@import '../../../styles/assets.scss';

.settings-section {
  border-radius: 4px;
  margin-bottom: 24px;
  padding: 24px;
  transition: .4s;
  width: 100%;

  @media screen and (max-width: 489px) {
    padding: 18px;
  }

  .original-theme & {
    background: $original-settings-section-background-color;
  }

  .light-theme & {
    background: $light-settings-section-background-color;
    box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04), 0 4px 16px rgba(51, 51, 51, 0.08);
  }
  
  .dark-theme & {
    background: $dark-settings-section-background-color;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    font-weight: 500;
    font-size: 18px;

    .original-theme & {
      color: $original-settings-section-title-color;
    }

    .light-theme & {
      color: $light-settings-section-title-color;
    }
    
    .dark-theme & {
      color: $dark-settings-section-title-color;
    }
  }

  &-content {
    height: 0;
    opacity: 0;
    transition: .4s;

    .original-theme & {
      border-top: 0 solid $original-settings-section-line-color;
    }

    .light-theme & {
      border-top: 0 solid $light-settings-section-line-color;
    }
    
    .dark-theme & {
      border-top: 0 solid $dark-settings-section-line-color;
    }
  }

  &.is-active {
    padding-top: 18px;

    .settings-section {
      &-header {
        margin-bottom: 18px;
      }

      &-content {
        border-top-width: 1px;
        padding-top: 24px;
        height: auto;
        opacity: 1;
      }
    }
  }
}
