@import '../../../../styles/assets.scss';

.base-input {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &-container {
    border-radius: 4px;
    transition: .2s;
    -x-size: 100% 56px;

    .original-theme & {
      background: $original-input-background-color;
    }
  }

  &-placeholder {
    transition: .2s;
    transform: translateY(-50%);
    -x-position: absolute 50% x x 16px;

    .original-theme & {
      color: $original-input-placeholder-color;
    }
  }

  &-field {
    background: transparent;
    font-family: inherit;
    padding: 16px 0 0 16px;
    position: relative;
    -x-size: 100%;

    .original-theme & {
      color: $original-input-color;
    }
  }

  &-error {
    opacity: 0;
    transition: .2s;
    margin-bottom: 8px;

    .original-theme & {
      color: $original-input-error-color;
    }
  }

  &-description {
    .original-theme & {
      color: $original-input-description-color;
    }
  }

  &-icon {
    opacity: .6;
    transition: .2s;
    transform: translateY(-50%);
    z-index: 1;
    -x-size: 24px;
    -x-position: absolute 50% 12px x x;

    &:hover, &.is-active {
      opacity: 1;
    }
  }

  &-placeholder, &-field, &-description {
    -x-font-size: 16px/24px;
  }

  &.has-description {
    .base-input {
      &-container {
        margin-bottom: 10px;
      }
    }
  }

  &.is-active {
    .base-input {
      &-placeholder {
        transform: none;
        top: 6px;
        -x-font-size: 13px/20px;
      }

      &-field {
        z-index: 1;
      }
    }
  }

  &.is-error {
    .base-input {
      &-error {
        bottom: -25px;
        opacity: 1;
      }
    }
  }
}
