/** light theme */

/** dark theme */
$dark-loader-background-color: #fff;

$dark-app-background-color: #222222;
$dark-sidebar-icon-color: #fff;
$dark-sidebar-line-background-color: rgba(#fff, 0.4);

$dark-avatar-color: #fff;
$dark-avatar-border-color: #222222;
$dark-avatar-background-color: #393E46;

$dark-menu-username-color: #fff;
$dark-menu-line-background: rgba(#fff, .4);
$dark-menu-item-color: rgba(#fff, .5);
$dark-menu-item-color-hover: #fff;
$dark-menu-item-background-color-hover: rgba(#fff, .2);
$dark-menu-item-color-active: #fff;
$dark-menu-button-span-background-color: #fff;

$dark-homepage-section-title-color: #fff;

$dark-settings-section-background-color: #333333;
$dark-settings-section-close-hover-background-color: #393E46;
$dark-settings-section-title-color: #fff;
$dark-settings-section-line-color: rgba(#fff, .4);
$dark-settings-section-message-color: rgba(255, 255, 255, 0.48);

$dark-settings-action-title-color: #fff;
$dark-settings-action-description-color: rgba(255, 255, 255, 0.48);
$dark-settings-action-hover-background-color: rgba(#fff, .2);
$dark-settings-action-selected-background-color: rgba(#fff, .3);

$dark-settings-group-title-color: rgba(#fff, .6);

$dark-settings-avatar-container-background-color: #222222;
$dark-settings-avatar-drop-color: #FFFFFF;
$dark-settings-avatar-drop-border-color: #4D4D4D;
$dark-settings-avatar-drop-active-backgroun-color: rgba(#fff, .1);
$dark-settings-avatar-link-color: #6E41E2;
$dark-settings-avatar-filename-color: #fff;

$dark-button-primary-color: #6E41E2;
$dark-button-primary-background-color: #fff;
$dark-button-primary-background-color-hover: #f1f1f1;
$dark-button-secondary-color: #fff;
$dark-button-secondary-border-color: #fff;
$dark-button-secondary-background-color: transparent;
$dark-button-secondary-hover-color: #f1f1f1;
$dark-button-secondary-hover-border-color: #f1f1f1;
$dark-button-danger-color: #fff;
$dark-button-danger-background-color: #DB524E;
$dark-button-danger-background-color-hover: #C7302B;

$dark-input-background-color: #222222;
$dark-input-color: #FFFFFF;
$dark-input-placeholder-color: rgba(#FFFFFF, .48);
$dark-input-error-color: #FF4642;
$dark-input-description-color: rgba(#FFFFFF, .48);
$dark-input-icon-color: #fff;

$dark-select-background-color: #222222;
$dark-select-color: #FFFFFF;
$dark-select-placeholder-color: rgba(#FFFFFF, .48);
$dark-select-icon-color: rgba(#FFFFFF, .48);
$dark-select-icon-color-hover: #FFFFFF;
$dark-select-item-active-background-color: #393E46;

$dark-radio-label-background-color: #222;
$dark-radio-label-selected-background-color: #fff;
$dark-radio-label-hover-background-color: #393E46;
$dark-radio-span-background-color: #6E41E2;
$dark-radio-description-color: #fff;

$dark-popup-background-color: #393E46;
$dark-popup-header-border-color: rgba(#F1F1F1, .6);
$dark-popup-title-color: #fff;
$dark-popup-body-text-color: #fff;

$dark-spaces-message-color: rgba(#fff, .5);
$dark-spaces-message-label-background-color: rgba(#fff, .2);

$dark-space-background-color: #333333;
$dark-space-hover-background-color: #393E46;
$dark-space-line-background-color: rgba(255, 255, 255, 0.4);
$dark-space-title-color: #fff;
$dark-space-icon-color: #fff;

$dark-space-logo-default-background-color: #222222;

$dark-dropdown-background-color: #2D2D2D;
$dark-dropdown-item-color: #fff;
$dark-dropdown-item-hover-color: #F1F1F1;
$dark-dropdown-item-hover-background-color: rgba(255, 255, 255, 0.2);

$dark-space-page-pages-background-color: #2D2D2D;
$dark-space-page-border-color: rgba(255, 255, 255, 0.4);
$dark-space-page-editor-background-color: #393E46;
$dark-space-page-title-color: #fff;
$dark-space-page-header-background-color: #393E46;
$dark-space-page-menu-button-span-background-color: #fff;
$dark-space-page-add-color: rgba(255, 255, 255, 0.6);

$dark-sidebar-frame-header-border-color: rgba(255, 255, 255, 0.4);
