.b181v2oy {
  background: transparent;
  border: 0;
  color: var(--inline-toolbar-color);
  cursor: pointer;
  font-size: 18px;
  padding: 8px 4px;
  vertical-align: middle;
  -x-size: 36px 34px;

  svg {
    fill: var(--inline-toolbar-color);
    -x-size: 1em;
  }

  &:hover, &:focus {
    color: var(--inline-toolbar-hover-color);
    outline: 0;

    svg {
      fill: var(--inline-toolbar-hover-color);
      -x-size: 1em;
    }
  }
}

.a9immln {
  color: var(--inline-toolbar-hover-color);

  svg {
    fill: var(--inline-toolbar-hover-color);
  }
}

.tukdd6b {
  background: var(--inline-toolbar-background-color);
  border-radius: 4px;
  left: 50%;
  transform: translate(-50%) scale(0);
  padding: 0px 12px;
  position: absolute;
  display: flex;
  z-index: 2;
}

.tukdd6b:after,
.tukdd6b:before {
  border: solid transparent;
  content:' ';
  pointer-events:none;
  -x-size: 0;
  -x-position: absolute 100% x x 50%;
}
  .tukdd6b:after{
    border-top-color: var(--inline-toolbar-background-color);
    border-width: 4px;
    margin-left: -4px;
  }
  .tukdd6b:before {
    border-top-color: var(--inline-toolbar-background-color);
    border-width: 6px;
    margin-left: -6px;
}

.s1o2cezu{
  display:inline-block;
  height:24px;
  margin:0 0.5em;
}

.inline-toolbar-separator {
  border-left: 1px solid var(--inline-toolbar-separato-color);
  display: block;
  padding: 0;
  margin: 8px 12px;
}
