.inline-toolbar {
  background: var(--inline-toolbar-background-color);
  border-radius: 4px;
  left: 50%;
  transform: translate(-50%) scale(0);
  padding: 0 12px;
  position: absolute;
  display: inline-flex;
  z-index: 2;
  height: 40px;

  &::after, &::before {
    border: solid transparent;
    border-top-color: var(--inline-toolbar-background-color);
    content: '';
    pointer-events: none;
    -x-size: 0;
    -x-position: absolute 100% x x 50%;
  }

  &::after {
    border-width: 4px;
    margin-left: -4px;
  }

  &::before {
    border-width: 6px;
    margin-left: -6px;
  }

  &-button {
    background: transparent;
    border: none;
    color: var(--inline-toolbar-color);
    cursor: pointer;
    font-size: 18px;
    padding: 8px 4px;
    vertical-align: middle;

    &:hover, &:focus, &.is-active {
      color: var(--inline-toolbar-hover-color);
      outline: 0;
    }
  }

  &-separator {
    border-left: 1px solid var(--inline-toolbar-separato-color);
    display: block;
    user-select: none;
    padding: 0;
    margin: 8px 12px;
  }
}
