.bi09khh{display:inline-block;}
.bc4rxid{background:#fbfbfb;color:#888;font-size:18px;border:0;padding-top:5px;vertical-align:bottom;height:34px;width:36px;}.bc4rxid:hover,.bc4rxid:focus{background:#f3f3f3;outline:0;}.bc4rxid svg{fill:#888;}
.akzb7t5{background:#efefef;color:#444;}.akzb7t5 svg{fill:#444;}

.toolbar {
  animation: show-toolbar .2s;
  background:#fff;
  border:1px solid #ddd;
  border-radius: 3px;
  padding: 0 12px;
  display: flex;
  margin-top: 16px;
  border-radius:2px;
  box-shadow:0px 1px 3px 0px rgba(220,220,220,1);
  z-index:2;
  height: 34px;

  &::after {
    border-color:rgba(255,255,255,0);
    border-top-color:#fff;
    border-width:4px;
    margin-left:-4px;
  }

  &::before {
    border-color:rgba(221,221,221,0);
    border-top-color:#ddd;
    border-width:6px;
    margin-left:-6px;
  }

  &-separator {
    border-left: 1px solid var(--inline-toolbar-separato-color);
    display: block;
    user-select: none;
    padding: 0;
    margin: 8px 12px;
  }
}

.s6m29i4{display:inline-block;border-right:1px solid #ddd;height:24px;margin:0 0.5em;}

@keyframes show-toolbar {
  from {
    opacity: 0;
    height: 0;
  }
}
