@import '../../../styles/assets.scss';

.menu {
  width: 224px;
  transition: .2s;
  -x-position: fixed 80px x x x;

  @media screen and (max-width: 1366px) {
    left: 130px;
  }

  @media screen and (max-width: 1023px) {
    left: -250px;
    top: 0;
    background: rgba(17, 17, 17, 0.5);
    z-index: 99;
    -x-size: 250px 100%;

    &.is-open {
      width: 100%;
      left: 0;
      z-index: 9;
    }
  }

  &-container {
    width: 100%;
    position: relative;

    @media screen and (max-width: 1023px) {
      padding: 12px 13px;
      -x-size: 250px 100%;
  
      .original-theme & {
        background: $original-app-background-color;
      }
      
      .light-theme & {
        background: $light-app-background-color;
      }
      
      .dark-theme & {
        background: $dark-app-background-color;
      }
    }
  }

  &-user {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    width: 100%;

    .avatar {
      margin-right: 6px;
      flex-shrink: 0;
    }
  }

  &-username {
    font-weight: 500;
    -x-font-size: 16px/32px;

    .original-theme & {
      color: $original-menu-username-color;
    }

    .light-theme & {
      color: $light-menu-username-color;
    }
    
    .dark-theme & {
      color: $dark-menu-username-color;
    }
  }

  &-line {
    margin: 14px 0;
    -x-size: 100% 1px;

    .original-theme & {
      background: $original-menu-line-background;
    }

    .light-theme & {
      background: $light-menu-line-background;
    }
    
    .dark-theme & {
      background: $dark-menu-line-background;
    }
  }

  &-button {
    display: none;
    flex-direction: column;
    -x-size: 40px;
    -x-position: absolute 12px -56px x x;

    @media screen and (max-width: 1023px) {
      display: flex;
    }

    .original-theme &, .dark-theme & {
      opacity: .6;

      &:hover {
        opacity: 1;
      }
    }

    .light-theme & {
      opacity: .9;
  
      &:hover {
        span {
          background: $light-menu-button-span-background-active-color;
        }
      }
    }

    span {
      border-radius: 2px;
      transition: .2s;
      -x-size: 24px 2px;

      .original-theme & {
        background: $original-menu-button-span-background-color;
      }
    
      .light-theme & {
        background: $light-menu-button-span-background-color;
      }
      
      .dark-theme & {
        background: $dark-menu-button-span-background-color;
      }

      &:nth-child(2) {
        margin: 5px 0;
      }
    }

    .is-open & {
      .light-theme & {
        opacity: .6;

        &:hover {
          opacity: 1;
        }

        span {
          background: $original-menu-button-span-background-color;
        }
      }

      span {
        &:nth-child(1) {
          transform: rotate(45deg);
          margin-bottom: -14px;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
