@import '../../../styles/assets.scss';

.menu {
  width: 220px;

  &-user {
    margin-bottom: 35px;
  }

  &-line {
    margin: 14px 0;
    -x-size: 100% 1px;

    .original-theme & {
      background: $original-menu-line-background;
    }
  }
}
