@import '../../../styles/assets.scss';

.homepage-section {
  padding-top: 80px;
  width: 100%;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 42px;
  }

  &-title {
    font-weight: 500;
    -x-font-size: 36px/32px;

    .original-theme & {
      color: $original-homepage-section-title-color;
    }
  }
}
