@import '../../../../styles/assets.scss';

.button {
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  padding: 0 16px;
  transition: .2s;

  &-icon {
    margin-right: 8px;
    -x-size: 18px;
  }

  .original-theme & {
    &.primary {
      background: $original-button-primary-background-color;
      color: $original-button-primary-color;
  
      &:hover {
        background: $original-button-primary-background-color-hover;
      }
    }

    &.secondary {
      background: $original-button-secondary-background-color;
      color: $original-button-secondary-color;
  
      &:hover {
        background: $original-button-secondary-background-color-hover;
      }
    }

    &.danger {
      background: $original-button-danger-background-color;
      color: $original-button-danger-color;
  
      &:hover {
        background: $original-button-danger-background-color-hover;
      }
    }
  }
}
